.mat-header-cell {
  font-size: large;
}

// display only icon instead of a button
.image-upload > input
{
    display: none;
}

button {
  margin-left:2%;
}  


// scrollable content
.example-table-container {
  position: relative;
  max-height: 400px;
  overflow: auto;
}

table {
  width: 100%;
}



// shadows over rows
tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

